*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(69, 69, 126);
}
.btn{
    padding: 8rem;
    background: linear-gradient(black,97%,grey);
    border-radius: 50%;
    color: rgb(68, 135, 194);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
}
.footer{
    color: aliceblue;

}